main{
  position: relative;
  margin-bottom: 4%;
  display: flex;
}

.left{
  display: inline-block;
  position: relative;
  color: var(--font-color);
  right: 28%;
box-shadow: 0 0 20px 0 black;
}
.left img{
  width: 430px;
  opacity: .8;
  border-radius: 1%;
}

.left h1{
  position: absolute;
  top: 69%;
  font-size: 1.4em;
  left: 2%;
}
.left h3{
  position: absolute;
  /* top: 5px; */
  top: 76%;
  font-size: 1.2em;
  left: 4%;

}
.left h4{
  position: absolute;
  /* top: 5px; */
  top: 77.6%;
  font-size: 1.2em;
  left: 15%;
}

.left h4::before{
  position: absolute;
  content: " | ";
  right: 120%;
  opacity: .6;
}
.left p{
  position: absolute;
  /* top: 5px; */
  top: 85%;
  font-size: 1em;
  left: 4%;
  width: 70%;
}

.right{
  display: flex;
  position: absolute;
  justify-content: center;
  left: 55%;
  align-items: center;
  flex-direction: column;
  bottom: 81%;
}

.right h1{
  font-size: 3em;
}
.right h2{
  opacity: .5;
  font-size: 1.2em;
}

.links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 100%;
  padding-top: 5%;
}
.links li{
  text-transform: uppercase;
  /* width: 50px; */
  /* font-size: 100em; */
  width: 100%;
  cursor: pointer;
  font-size: 1.6em;

}

.links li + li {
  opacity: .5;
}
.links::before{
  position: absolute;
  content: "";
  width: 108%;
  height: 2px;
  top: 102%;
  background-color: aliceblue;
}

.links li:first-child::before{
  position: absolute;
  content: "";
  width: 24%;
  height: 2px;
  top: 102%;
  right: 80%;
  background-color: red;
  cursor: default;
}


.descriptions{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.descriptions h1{
  height: 0.1em;
  position: relative;
  top: 2em;
  font-size: 1.4em;
  font-weight: bold;
  /* width: 104%; */
  opacity: .7;
  right: 4%;
}

.descriptions ul{
  position: absolute;
  top: 190px;
  width: 100%;
  right: 2em;
  font-size: 1.3em;
}

.descriptions .text{
  margin-left: 5%;
}
.descriptions .a-title{
  opacity: .5;
}
.episode{
  position: relative;
  top: 51rem;
  display: flex;
  justify-content: space-around;
  right: 30%;
  gap: 12%;
}
.episode img{
  width: 100px;
  height: 80px;
}

.ee{
  position: absolute;
}